
    <!-- Placed at the end of the document so the pages load faster -->
        <script src="/public/bower_components/jquery/jquery.min.js">
                                    
        </script>
        <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js">
                
        </script>
    </body>

</html>