<!DOCTYPE html>
<html ng-app>
    
    <head>
        <script src="/public/assets/custom/js/settings.js"></script>
        <script src="/public/bower_components/jquery/jquery.min.js"></script>
        <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/public/bower_components/angular/angular.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/bower_components/notification-js/notification.js"></script>
        <script src="/public/bower_components/jquery-typing/jquery.typing-0.2.0.min.js"></script>
        <script src="/public/assets/custom/js/message.js"></script>

        <meta charset="utf-8">
        <title>
            Chat Leap
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Website creation made simple">
        <meta name="author" content="Trevor Baron">
        <META name="keywords" content="devbrick, website, resume, portfolio, hosting, web, simple, app">
        <!-- CSS -->
                 
        <link href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/assets/custom/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/bower_components/font-awesome/css/font-awesome.min.css">


        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/public/mainSite/assets/img/favicon.ico">
        <noscript>
            <style>
                .noscript-hide{
                    display:none;
                }
            </style>
        </noscript>
    </head>
    
    <body id="bod">