/* FIX MOBILE SETTINGS */
.navbar-fixed-top {
    position: static;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    min-width: 320px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* FULLSCREEN CHAT */
html, body, .message-app-wrapper{
    height: 100%;
}
#push,
#footer {
    height: 60px;
}

#footer {
     background-color: #e6e6e6;
     border-top: solid 1px #a6a6a6;
}

.chat-window-wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0px auto -60px;
}

.chat-window {
    width:100%;
    position: absolute;
    top: 51px;
    bottom: 60px;
    overflow:auto;
}

/* Custom page CSS */

.chat-bubble {
    display: inline-block;margin:
    4px;padding:10px;
    
    border:2px solid;
    border-color:#4EB6E3;
    max-width:75%;
    background-color:#FFFFFF;
    filter:alpha(opacity=80);
    opacity:0.8;
}

.container-wide {
    padding-left:20px;
    padding-right:20px;
}

.container-wide .credit {
    padding: 20px 0;
}



select {
    border:1px solid #cccccc;
    background-color: white;
    height: 30px;
    line-height: 30px;
}

textarea {
    border:1px solid #cccccc;
}