<% include ../includes/header %>
    <noscript>
        <h1 style="margin-top:0px;text-align:center;font-weight:900;color:#8BD9E8;font-size:4em">&bull; CHAT LEAP &bull;</h1>
        <h1 style="margin-top:0px;text-align:center;font-weight:900;color:#8BD9E8;font-size:2em">Please enable javascript to start chatting.</h1>
    </noscript>
    <div class="message-app-wrapper noscript-hide" ng-controller="MessageCtrl">
        <div class="chat-window-wrapper">
            <div class="chat-window" id="chat-window">
            <h1 style="margin-top:0px;text-align:center;font-weight:900;color:#8BD9E8;font-size:4em">&bull; CHAT LEAP &bull;</h1>
            <div style="text-align:center">
                <button ng-click="joinGlobal()"  class="btn btn-default" style="margin: 0 auto;">Join Global Chat</button>
                <button class="btn btn-default" style="margin: 0 auto;">Join Random Chat</button>
            </div>
              <div ng-repeat="message in messages" ng-model="allMessages">
                <div ng-switch on="message.otherUser">
                    <div ng-switch-when="true">
                        <div class="chat-bubble">
                          <span>{{message.userName}}: {{message.text}}</span>
                        </div>
                    </div>
                    <div style="text-align: right;" ng-switch-default>
                        <div class="chat-bubble" style="border-color:#4EE3D2;">
                          <span>{{message.userName}}: {{message.text}}</span>
                        </div>
                    </div>
                </div>                
              </div>
            </div>
            <div id="push">
            </div>
        </div>
        <div id="footer" class="noscript-hide">
            <form class="form-inline" style="padding-top: 12px;" role="form" ng-submit="addMessage()" scroll-bottom="chat-window">
                <table>
                <tbody>
                    <tr>
                        <td style="width: 100%;">
                            <input name="messageText" ng-model="messageText" class="form-control" style="width: 100%;" placeholder="Type here to send a message">
                        </td>
                        <td>
                            <button style="width:100px;" type="submit" class="btn btn-default">Send</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
<% include ../includes/footer %>