<% include ../includes/header %>
    <noscript>
        <h1 style="margin-top:0px;text-align:center;font-weight:900;color:#8BD9E8;font-size:4em">&bull; CHAT LEAP &bull;</h1>
        <h1 style="margin-top:0px;text-align:center;font-weight:900;color:#8BD9E8;font-size:2em">Please enable javascript to start chatting.</h1>
    </noscript>
<div class="message-app-wrapper noscript-hide" ng-controller="MessageCtrl">
<div class="navbar navbar-default navbar-static-top" role="navigation" style="position: fixed;top: 0px;left: 0px;width: 100%;">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Chat Leap</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="#about">{{userOnlineCount}} Users Online</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Find a chat group for you</a></li>
                <li><a href="#">Random group chat</a></li>
                <li><a href="#">Random 1 on 1 chat</a></li>
              </ul>
            </li>
            <li class="active"><a href="#">Chat Tab 1</a></li>
            <li><a href="#about">Chat Tab 2</a></li>
            <li><a href="#contact">Chat Tab 3</a></li>
          </ul>
          <form class="navbar-form navbar-right" method="post" action="/login">
                      <div class="form-group">
                        <input class="form-control" placeholder="Email" id="inputIcon" name="email" type="text">
                      </div>
                      
                      <div class="form-group">
                        <input class="form-control" placeholder="Password" id="inputIcon" name="password" type="password">
                      </div>
                  <button type="submit" class="btn">Log In</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>

    
        <div class="chat-window-wrapper">
            <div class="chat-window" id="chat-window">
            <h1 style="margin-top:0px;text-align:center;font-weight:900;color:#8BD9E8;font-size:2em">&bull; CHAT LEAP &bull;</h1>
            <!--<div style="text-align:center">
                <button ng-click="joinGlobal()"  class="btn btn-default" style="margin: 0 auto;">Join Global Chat</button>
                <button class="btn btn-default" style="margin: 0 auto;">Join Random Chat</button>
            </div>-->
              <div ng-repeat="message in messages" ng-model="allMessages">
                <div ng-switch on="message.otherUser">
                    <div ng-switch-when="true">
                        <div class="chat-bubble">
                          <span>{{message.userName}}: {{message.text}}</span>
                        </div>
                    </div>
                    <div style="text-align: right;" ng-switch-default>
                        <div class="chat-bubble" style="border-color:#4EE3D2;">
                          <span>{{message.userName}}: {{message.text}}</span>
                        </div>
                    </div>
                </div>                
              </div>
            </div>
            <div class="people-window">
              <ul class="list-group">
                <li class="list-group-item" style="font-size:2em;">Users</li>
                <li class="list-group-item">User 1</li>
                <li class="list-group-item">User 2</li>
                <li class="list-group-item">User 3</li>
              </ul>
            </div> 
            <div id="push">
            </div>
        </div>
        <div id="footer" class="noscript-hide">
            <form class="form-inline" style="padding-top: 12px;" role="form" ng-submit="addMessage()" scroll-bottom="chat-window">
                <table>
                <tbody>
                    <tr>
                        <td>
                            <input style="width:100px;" autocomplete="off" autofocus id="guestAlias" name="guestAlias" ng-model="guestAlias" class="form-control" style="width: 100%;" placeholder="Alias">
                        </td>
                        <td style="width: 100%;">
                            <input autocomplete="off" autofocus name="messageText" ng-model="messageText" class="form-control" style="width: 100%;" placeholder="Type here to send a message">
                        </td>
                        <td>
                            <button style="width:100px;" type="submit" class="btn btn-default">Send</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
<% include ../includes/footer %>